.dotContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  top: 24px;
  right: 64px;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-grey-0);
  border-radius: 5px;
  margin: 0 2px;
}